/* Sidebar.css */

.sidebar {
  background-color: #000;
  color: #80868b;
  width: 260px;
  height: 60vh;
  padding: 20px 15px;
  box-sizing: border-box;
  margin-left: 15px;
}

.sidebar-section {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-section:hover {
  color: #fff;
}

.icon {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  stroke: #80868b;
  transition: stroke 0.3s;
}

.sidebar-section:hover .icon {
  stroke: #fff;
}

.sidebar-text {
  font-size: 16px;
  font-weight: 600;
  color: #80868b;
  transition: color 0.3s;
}

.sidebar-section:hover .sidebar-text {
  color: #fff;
}

.divider {
  border-top: 1px solid #222;
  margin: 18px 0;
}

.dsa-header {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.dsa-icon {
  margin-right: 6px;
  stroke: #80868b;
  width: 24px;
  height: 24px;
  transition: stroke 0.3s;
}

.dsa-title {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}

.chevron-icon {
  width: 18px;
  height: 18px;
  stroke: #80868b;
  transition: transform 0.3s, stroke 0.3s;
  margin-left: auto;
}

.sheet-list {
  margin-top: 4px;
  padding-left: 22px;
}

.sheet-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  cursor: pointer;
  color: #80868b;
  transition: color 0.3s;
  font-size: 13px;
  font-weight: 400;
}

.sheet-item:hover {
  color: #fff;
}

.sheet-item:hover span {
  color: #fff;
}

.sheet-logo {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  object-fit: cover;
}

.sheet-item span {
  color: #80868b;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 400;
}

.sheet-item.active-sheet {
  background-color: #000;
  border: 1px solid #00ffff;
  border-left: 3px solid #00f0ff;
  color: #00f0ff;
  border-radius: 5px;
}

.sheet-item.active-sheet span {
  color: #00f0ff;
  font-weight: 600;
}

.selected-dsa .dsa-icon,
.selected-dsa .sidebar-text,
.selected-dsa .chevron-icon {
  stroke: #00ffff !important;
  color: #00ffff !important;
}
