/* Sidebar.css */

.sidebar {
  background-color: #000;
  color: #80868b;
  width: 260px;
  height: 98vh;
  padding: 8px 15px;
  box-sizing: border-box;
  margin-left: 15px;
}

.sidebar-section {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-section:hover {
  color: #fff;
}

.icon {
  margin-right: 6px;
  width: 24px;
  height: 24px;
  stroke: #80868b;
  transition: stroke 0.3s;
}

.sidebar-section:hover .icon {
  stroke: #fff;
}

.sidebar-text {
  font-size: 16px;
  font-weight: 600;
  color: #80868b;
  transition: color 0.3s;
}

.sidebar-section:hover .sidebar-text {
  color: #fff;
}

.divider {
  border-top: 1px solid #222;
  margin: 18px 0;
}

.dsa-header {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.dsa-icon {
  margin-right: 6px;
  stroke: #80868b;
  width: 24px;
  height: 24px;
  transition: stroke 0.3s;
}

.dsa-title {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}

.chevron-icon {
  width: 18px;
  height: 18px;
  stroke: #80868b;
  transition: transform 0.3s, stroke 0.3s;
  margin-left: auto;
}

.sheet-list {
  margin-top: 4px;
  padding-left: 22px;
}

.sheet-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  cursor: pointer;
  color: #80868b;
  transition: color 0.3s;
  font-size: 13px;
  font-weight: 400;
}

.sheet-item:hover {
  color: #fff;
}

.sheet-item:hover span {
  color: #fff;
}

.sheet-logo {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  object-fit: cover;
}

.sheet-item span {
  color: #80868b;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 400;
}

.sheet-item.active-sheet {
  background-color: #000;
  border: 1px solid #00ffff;
  border-left: 3px solid #00f0ff;
  color: #00f0ff;
  border-radius: 5px;
}

.sheet-item.active-sheet span {
  color: #00f0ff;
  font-weight: 600;
}

.selected-dsa .dsa-icon,
.selected-dsa .sidebar-text,
.selected-dsa .chevron-icon {
  stroke: #00ffff !important;
  color: #00ffff !important;
}

/* Sidebar Logo */
.sidebar-logo {
  width: 120px;
  margin-bottom: 20px;
  display: block;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .desktop-logo {
    display: block;
  }
}


/* Hamburger Icon */
.hamburger-icon {
  display: flex;
  padding: 10px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 999;
  background-color: #000;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
}

/* Mobile Sidebar Slide-in Effect */
.sidebar {
  transition: transform 0.3s ease;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #000;
    z-index: 998;
    transform: translateX(-100%);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }

  .sidebar.open-mobile {
    transform: translateX(0);
  }

  .sidebar-logo{
    margin-left: 10px;

  }
}

/* Close icon */
.close-icon {
  stroke: #80868b;
  cursor: pointer;
  transition: stroke 0.3s;
}

.close-icon:hover {
  stroke: red;
}
