.question-container {
  display: flex;
  align-items: center;
  width: calc(100vw - 500px);
  border: 2px solid #2d2d2d;
  border-radius: 15px;
}

.question-container.solved-border {
  border-color: #00ffff;
}

.question-container.saved-border {
  border-color: #ee4b2b;
}

.checkbox {
  width: calc((100vw - 500px) * 0.12);
  height: 70px;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftmost {
  border-radius: 15px 0 0 15px;
  border-left: none;
}

.rightmost {
  border-radius: 0 15px 15px 0;
  border-right: none;
}

.q-name {
  display: flex;
  justify-content: start;
  align-items: center;
  width: calc((100vw - 500px) * 0.40);
  height: 70px;
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
  padding-left: 20px;
  box-sizing: border-box;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #2d2d2d;
  border-radius: 6px;
  background-color: #000;
  appearance: none;
  cursor: pointer;
  position: relative;
  outline: none;
}

.custom-checkbox:checked {
  background-color: #00b9b9;
  border-color: #00b9b9;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(-45deg);
  top: 4px;
  left: 3px;
}

.custom-checkbox,
.bookmark-icon {
  transition: all 0.2s ease;
}

.question-text {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.question-text.solved {
  color: #00b9b9;
}

.question-text.saved {
  color: #ee4b2b;
}

.icon {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  stroke: #ffffff;
}

.icon.solved svg {
  stroke: #00b9b9;
}

.icon.saved svg {
  stroke: #ee4b2b;
}

.platform-icon img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.difficulty {
  padding: 8px 8px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 400;
}

.difficulty.easy {
  background-color: #0b2816;
  color: #168c28;
}

.difficulty.medium {
  background-color: #482200;
  color: #c68804;
}

.difficulty.hard {
  background-color: #470c08;
  color: #d81b08;
}

.bookmark-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.bookmark-icon {
  color: #ffffff;
}

.bookmark-icon.solved {
  color: #00b9b9;
  stroke: #00b9b9;
}

.bookmark-icon.active {
  color: #ee4b2b;
  fill: #ee4b2b;
  stroke: #ee4b2b;
}
